.link {
  display: flex;
  align-items: center;
  margin-left: 100px;
  margin-top: 50px;
  color: #00C2A8;
  font-size: 150%;
  width: 8%;
}

.contact-wrapper {
  display: flex;
  align-items: center;
  min-width: 80vw;
  justify-content: center;
}

.form {
  height: 65vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
  justify-content: center;
  align-self: center;
  border-radius: 5px;
  border: 1px solid rgb(124, 124, 124);
  font-size: 20px;
}

.input-wrapper {
  color: black;
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
  border-radius: 5px;
  height: 30px;
  padding: 10px;
  margin-top: 3px;
  margin-bottom: 8px;
}

.message {
  height: 100px;
}

.send-button {
  background-color: #00C2A8;
  width: 50%;
  align-self: center;
  height: 40px;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.send-button:hover {
  background-color: #B0A8B9;
  color: white;
}

.contact-for-header {
  max-width: 70%;
  margin-top: 2rem;
  text-align: center;
  font-size: 1.5rem;
  align-self: center;
}

.input-message {
  margin-top: 3vh;
  min-height: 30vh;
  border-radius: 4px;
  font-size: 1rem;
}

.button-container {
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-left {
  height: 70vh;
  min-width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.left-header {
  max-width: 30vw;
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.contact-icons {
  display: flex;
  justify-content: space-around;
  width: 60%;
  color: #00C2A8;
  font-size: 50px;
  gap: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  font-size: 22px;
  padding: 30px;
}

/* Mobile styles */
@media (max-width: 480px) {
  .navbar {
    display: flex;
  }

  .link {
    padding: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin: 0;
    width: 30%;
  }


  .nutriologo-contact {
    font-size: 30px;
  }

  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }

  .contact-left {
    width: 100%;
    justify-content: start;
    padding-top: 20px;
    margin-bottom: -250px;
  }

  .left-header {
    max-width: 80%;
    text-align: center;
  }

  .contact-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .form {
    width: 90%;
    justify-content: start;
    align-items: start;
    padding: 20px;
    margin: 20px;
    height: 100%;
  }

  .input-wrapper {
    width: 100%;
    font-size: 22px;
  }

  .input {
    font-size: 20px;
    background-color: #fcf4f0;
    border: 1px solid grey;
    height: 60px;
  }

  .message {
    height: 200px;
  }

  .send-button {
    font-size: 22px;
    padding: 10px;
    text-align: center;
    width: 100px;
    margin-top: 10px;
    height: 50px;
    background-color: #00C2A8;
  }

  .footer {
    padding: 10px;
    font-size: 18px;
    text-align: center;
  }
}
