@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fcf4f0;
}

.home-container {
  /* background-color: #f5f1e6; */
  height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 25px;
  margin-top: 20px;
}

.body-container {
  position: relative;
  display: flex;
  padding: 20px;
  margin-top: 50px;
  justify-content: space-around;
}

.body-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f6e3cf;
  /* border-bottom: 1px solid black; */
  transform: skewY(-10deg);
  z-index: -1;
}

.body-container>.home-title {
  display: flex;
  align-items: center;
  font-size: 42px;
  width: 550px;
}

.body-container>.background-image {
  display: flex;
  align-items: center;
  box-shadow: 0 0 30px grey;
  border-radius: 10px;
}

.body-container>.background-image img {
  border-radius: 10px;
}

/* bubble section */
/* Picture bubbles section */
/* Picture bubbles section */
.picture-bubbles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px
}

/* Individual bubble styles */
.bubble {
  width: 225px;
  height: 225px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 10px;
  background-size: cover;
}

/* Table styles */
.styled-table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

.styled-table th,
.styled-table td {
  padding: 10px;
}

.styled-table th {
  background-color: #ccc;
  color: #fff;
  text-align: left;
}

.styled-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.styled-table tbody tr:hover {
  background-color: #f6e3cf;
}

/* testimonials */
.testimonials-section-title {
  font-size: 60px;
  text-align: center;
  margin-top: 50px;
}

.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding-bottom: 100px;
  gap: 40px;
}

.testimonial {
  height: 340px;
  width: 270px;
  border-radius: 20px;
  background-color: #e1eaf4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.review-text {
  display: flex;
  flex-direction: column;
}

.review-title {
  font-weight: bold;
}

.review-picture {
  border-radius: 50%;
}

.review-bottom {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 700px) {
  .home-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
  }
}